.container {
    display: grid;
    grid-template-columns: [space-start]8rem [space-end] repeat(8, [main-start]minmax(max-content, 1fr)[main-end]) [last-space-start] 8rem [last-space-end];

    grid-template-rows: 8rem repeat(2, max-content);
    grid-row-gap: 5rem;


    @media only screen and (max-width: $bp-medium) {
        grid-row-gap: 2rem;
        grid-template-columns: [space-start]4rem [space-end] repeat(8, [main-start]minmax(max-content, 1fr)[main-end]) [last-space-start] 4rem [last-space-end];

    }
}



