<!DOCTYPE html>
<html>
<head>
	<title>Rest Countries</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css" >
</head>
<body>
	
	<div class="container">
		<header class="container__header">
			<h2 class="container__header__heading">
			Where in the world?</h2>
		</header>
		<div class="container__search heading-3">
			<a href="/" class="back">
				<svg class="icon">
        		<use xlink:href="/sprite.svg#icon-arrow-left2"></use>
         </svg>
				<p>Back</p>
			</a>
		</div>
